@import url(../mediaBreakpoints.css);

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    transition: all .5s linear;
}

.header.active {
    background-color: #fdb960;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.nav__items {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}

.link {
    margin-right: 40px;
}

.nav__links {
    color: #fff;
    position: relative;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
}

.nav__links::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    background-color: #fdb960;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.25s ease-in-out;
}

.nav__links:hover,
.nav__links:hover:after {
    width: 100%;
    color: #fdb960;
    transform: scaleX(1);
}

/* nav toggle */

.menu {
    display: none;
}

.button span {
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin-top: 7px;
    border-radius: 5px;
    z-index: 4000;
    transition: all .5s ease-in-out;
}

.button.active span:nth-child(1) {
    animation: animate 600ms ease-in-out forwards;
}

.button.active span:nth-child(2) {
    width: 0;
}

.button.active span:nth-child(3) {
    animation: animate2 600ms ease-in-out forwards;
}

@keyframes animate {
    50% {transform: translateY(0px) rotate(0deg);}
    100% {transform: rotate(45deg) translateY(6px) translateX(8px);}
}

@keyframes animate2 {
    50% {transform: translateY(0px) rotate(0deg);}
    100% {transform: rotate(-45deg) translateY(-6px) translateX(8px);}
}

.button span:first-child {
    margin-top: 0;
}

.toggleItems {
    display: block;
    position: absolute;
    left: 0;
    margin-top: 53px;
    top: 0;
    height: calc(100vh - 53px);
    width: 100%;
    z-index: 2000;
    text-align: center;
    background-color: #ffffff;
    transform: translateX(-1200px);
    transition: all .5s linear;
}

.toggleItems.active {
    transform: translateX(0);
}

.toggle__link {
    color: #007aff;
    font-size: 30px;
    font-family: 'Sen', sans-serif;
}

.items {
    margin-top: 25px;
}

.items:first-child {
    margin-top: 40px;
}